
/*Body*/
#article1 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly ;
    margin-top: 30px;
}
#article2 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly ;
    margin-top: 30px;
}
#article3 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly ; 
    margin-top: 30px;
}

/*Footer*/
footer{background-color:#FFC0CB; color: white; padding-bottom:20px;}
#foot1,#foot2,#foot3,#foot4 a{padding-left: 5px;}

h5#firstchild{padding-top:20px;}
.foot{
    color:rgb(100, 98, 98);
    font-size: 22px;
    font-weight:bold;
}
.foot:hover {
    color: #c4bebee7
}
#foot3 {
    padding-top: 15px;
    padding-left: 40%;
}
#noms {
    font-size: 16px;
    color:rgb(100, 98, 98);
    font-weight: normal;
}
#mentions {
    font-size: 18px;
}

ul.social-network {
    list-style: none;
    display: inline;
    margin-left:0 !important;
    padding: 0;
}
ul.social-network li {
    display: inline;
    margin: 0 5px;
}

.social-network a.icoFacebook {
    background-color:#3B5998;
    color:#fff;
}
.social-network a.icoTwitter{
    background-color:#33ccff; color:#fff;
}

a.socialIcon:hover, .socialHoverClass {
    color:#44BCDD;
}

.social-circle li a {
    display:inline-block;
    position:relative;
    margin:0 auto 0 auto;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    border-radius:50%;
    text-align:center;
    width: 50px;
    height: 50px;
    font-size:20px;

}
.social-circle li i {
    margin:0;
    line-height:50px;
    text-align: center;
}
.logo {
    width: 70px;
    height: 70px;
}
#nomf {
    color:rgb(100, 98, 98);
    font-size: 20px;
    font-weight: bold;
}